:root { color-scheme: light dark }

body {
    max-width: 45rem;
    margin: auto;
    padding: 2.4rem;
    font-size: 1.08rem;
    font-family: sans-serif;
    color: #252525
}

p {
    font-family: serif;
    line-height: 1.5
}

a { color: #0054C0 }
a:focus { outline: solid #0054C0 0.3rem }
a:visited {
    color: #555;
    outline-color: #555
}
nav a:visited {
    color: #0054C0;
    outline-color: #0054C0
}
a:hover, nav a:hover {
    color: #CC0099;
    outline-color: #CC0099
}
a:active, nav a:active {
    color: #FF66CC;
    outline-color: #FF66CC;
    text-decoration: none
}

h1 { text-align: center }
h2, h3 {
    margin-top: 1.1rem;
    margin-bottom: 0
}

ul, ol { font-family: serif }
li { margin-top: 1rem }

nav li {
    list-style-type: none;
    text-indent: -1.7rem
}

@media (prefers-color-scheme: dark) {

    body {
        color: white;
        background: #252525
    }

    a { color: #FF99CC }
    a:focus { outline-color: #FF99CC; }
    a:visited {
        color: #AAA;
        outline-color: #AAA
    }
    nav a:visited {
        color: #FF99CC;
        outline-color: #FF99CC
    }
    a:active, nav a:active {
        color: #FFCCCC;
        outline-color: #FFCCCC
    }
    a:hover, nav a:hover {
        color: #FF66CC;
        outline-color: #FF66CC
    }
}
