<!DOCTYPE html>
<html lang="{{ page.data.lang }}" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content="cobalt">
        <meta name="description" content="{{site.description}}">
        <link href="/static/icon.webp" rel="icon" type="image/webp" sizes="16x16">
        <link href="/static/icon.svg" rel="icon" type="image/svg+xml" sizes="any">
        <link href="/static/style.css" rel="stylesheet" type="text/css">
        <title>{{ site.title }}{% unless page.permalink == "" %} - {{ page.permalink }}{% endunless %}</title>
        <meta property="og:title" content="{{ site.title }}{% unless page.permalink == "" %} - {{ page.permalink }}{% endunless %}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{site.base_url}}/{{page.permalink}}">
        <meta property="og:image" content="{{site.base_url}}/static/icon.svg">
        <meta property="og:image:type" content="image/svg+xml">
        <meta property="og:image:alt" content="A transgender pride flag.">
    </head>
    <body>
        <header>
            <nav>
                <h1><a href="/">{{site.title}}</a>{% unless page.permalink == "" %}
                {% assign path = page.permalink | split: "/" %}{% assign i = 0 %}{% for p in path %} - <a href="{% for j in (0..i) %}/{{path[j]}}{% endfor %}"> {{ p }}</a>
                {% assign i = i | plus: 1 %}{% endfor %}{% endunless %}</h1>
            <nav>
       	</header>
        <main>
            {{ page.content }}
            <nav>
                <ul>
                    {[- range $element := listFiles "{{ page.permalink }}"]}
                    {[- if and (ne $element "index.html") (ne $element "static") (ne $element "robots.txt") (ne $element "sitemap.xml") (ne $element "ads.txt") (ne $element "app-ads.txt") (ne $element "favicon.ico") (ne $element "apple-touch-icon.png") ]}
                    <li><a href="{[html $element]}">{[html $element]}</a></li>
                    {[- end]}
                    {[- end]}
                </ul>
            </nav>
        </main>
    </body>
</html>
